---
import { Picture } from "astro:assets";
import RedirectButtons from "../components/RedirectButtons.astro";
import webIcon from "../assets/webIcon.png";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout subtitle="Not Found">
	<div class="h-full w-full flex items-center justify-center flex-col">
		<Picture
			src={webIcon}
			formats={["avif", "webp"]}
			alt="Icon of WikiGuesser"
			class="w-24 h-24 mb-4 object-center"
		/>
		<h1 class="text-4xl font-bold">Not Found</h1>
		<p class="italic">
			Sorry, the page you are seeking for is not available
		</p>
		<RedirectButtons />
	</div>
</MainLayout>;
