---
import { Picture } from "astro:assets";
import webIcon from "../assets/webIcon.png";
import IdInput from "../components/IdInput.astro";
import StartGameButton from "../components/StartGameButton.astro";
import MainLayout from "../layout/MainLayout.astro";
import Selectors from "../components/Selectors.astro";
import PlaceholderSelectors from "../components/PlaceholderSelectors.astro";
---

<MainLayout>
	<div class="w-full h-full flex items-center justify-center flex-col">
		<Picture
			src={webIcon}
			formats={["avif", "webp"]}
			alt="Icon of WikiGuesser"
			class="w-24 h-24 mb-4 object-center"
		/>
		<h1 class="text-4xl font-bold">WikiGuesser</h1>
		<p class="italic">Can you guess the wiki from a random article?</p>
		<div class="mt-8 flex flex-col">
			<div class="flex">
				<StartGameButton server:defer>
					<span>Start Game</span>
					<span
						slot="fallback"
						class="m-2 bg-rose-800 py-2 px-6 rounded-full text-rose-700 transition-colors"
						>Start Game</span
					>
				</StartGameButton>
				<StartGameButton dailyChallenge server:defer>
					<span>Daily Challenge</span>
					<span
						slot="fallback"
						class="m-2 bg-rose-800 py-2 px-6 rounded-full text-rose-700 transition-colors"
						>Daily Challenge</span
					>
				</StartGameButton>
			</div>
			<Selectors server:defer>
				<PlaceholderSelectors slot="fallback" />
			</Selectors>
			<IdInput />
		</div>
	</div>
</MainLayout>
