---
interface Props {
	title: string;
	extract: string;
	hints?: string[];
}
import BlockDescriptions from "./BlockDescriptions.astro";
import Hints from "./Hints.astro";
const { title, extract, hints } = Astro.props;
---

<div>
	<Hints title={title} text={extract} hints={hints} />
	<BlockDescriptions />
</div>
