---
import TitleRedirectInputWrapper from "./TitleRedirectInputWrapper.astro";
---

<div class="flex justify-center bg-zinc-300 rounded p-2 flex-col gap-2 m-2">
	<div>
		<h1 class="text-xl font-bold">Custom Titles</h1>
		<p class="text-zinc-700 italic">
			Enter titles in simplified Chinese or paste the Wikipedia link
			directly
		</p>
	</div>
	<TitleRedirectInputWrapper server:defer>
		<p
			slot="fallback"
			class="m-2 bg-rose-800 py-2 px-6 rounded-full text-rose-700 transition-colors text-center"
		>
			Loading...
		</p>
	</TitleRedirectInputWrapper>
</div>
