---
export const prerender = false;
import TitleRedirect from "./TitleRedirect.tsx";
---

<div class="flex justify-center bg-zinc-300 rounded p-2 flex-col gap-2 m-2">
	<div>
		<h1 class="text-xl font-bold">Custom Titles</h1>
		<p class="text-zinc-700 italic">
			Enter titles in simplified Chinese or paste the Wikipedia link
			directly
		</p>
	</div>
	<TitleRedirect client:load url={Astro.url} />
</div>
