---
export const prerender = false;
import Game from "../../components/Game";
import GameFooter from "../../components/GameFooter.astro";
import MainLayout from "../../layout/MainLayout.astro";
import { decodeFromBase64 } from "../../lib/utils";
import { extractDataFromWiki } from "../../lib/web";

const { title } = Astro.params;
if (!title) return Astro.redirect("/");
const finalTitle = decodeFromBase64(title);
if (!finalTitle) return Astro.redirect("/");
const text = await extractDataFromWiki(finalTitle);
if (!text) return Astro.redirect("/");
---

<MainLayout subtitle="Game">
	<div class="flex flex-col items-center gap-4">
		{text && <Game client:load text={text} encodedTitle={title} />}
		<GameFooter title={text.title} extract={text.extract} />
	</div>
</MainLayout>
