---
import "../styles/global.css";
interface Props {
	subtitle?: string;
}
const { subtitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/png"
			sizes="100x100"
			href="/webIcon100px.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/webIcon32px.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/webIcon16px.png"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>WikiGuesser{subtitle ? ` - ${subtitle}` : ""}</title>
	</head>
	<body class="w-screen h-screen bg-white"><slot /></body>
</html>
