---
import "../styles/global.css";
interface Props {
	subtitle?: string;
}
const { subtitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>WikiGuesser{subtitle ? ` - ${subtitle}` : ""}</title>
	</head>
	<body class="w-screen h-screen"><slot /></body>
</html>
